.studio-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.studio-btn img {
  width: 150px;
  border-radius: 3.5px;
  height: 85px;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 1px 4px;
}

@media screen and (max-width: 510px) {
  .studio-btn {
    width: 100%;
  }

}
