.game-card {
  background-color: var(--bg-dark-gray);
  cursor: pointer;
  height: fit-content;
  
}
.overlay {
  overflow: hidden;
}
.game-card img {
  max-width: 300px;
  width: 100%;
  aspect-ratio: 16 / 10;
  transition: 0.2s;
}
.game-card img:hover {
  scale: 1.2;
}

.game-card h5 {
  color: var(--text-lines);
  font-size: 15px;
  padding: 20px 10px;
  text-align: start;
}
