.fbst-container {
  width: 100%;
  position: relative;
  color: var(--text-lines);
}

.fbst-studio-swiper {
  background-color: var(--bg-dark-gray);

  width: 100%;
  border-radius: 5px;
  padding: 20px 20px;
}

.fbst-swipe-heading-box {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
}
.fbst-swipe-btn-box {
  display: flex;
}

@media screen and (max-width: 734px) {
  .fbst-studio-swiper {
    padding: 5px 10px 1px 10px;
  }
}
@media screen and (max-width: 510px) {
  .fbst-studio-swiper {
    background-color: transparent;
  }
  .fbst-swipe-heading-box {
    flex-direction: column;
    align-items: center;
  }
  .fbst-heading {
    padding-bottom: 10px;
  }
}
