.layout-container {
  padding: 25px 70px 60px 70px;
}

nav {
  display: flex;
  align-items: center;
  max-width: 1300px;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
}
main {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.filter-section {
  margin-top: 200px;
  display: flex;
  gap: 50px;
  flex-direction: column;
  border-bottom: 1px solid rgba(193, 193, 193, 0.13);
  padding-bottom: 70px;
}

.navigate-data-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 10px;
}

.display-data-section {
  display: flex;
  flex-wrap: wrap;
  min-height: 100px;
  justify-content: center;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(193, 193, 193, 0.13);
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 740px) {
  .display-data-section {
    grid-template-columns: repeat(3, 1fr);
  }
  .layout-container {
    padding: 25px 20px;
  }
}

@media screen and (max-width: 440px) {
  .display-data-section {
    grid-template-columns: repeat(2, 1fr);
  }
  .navigate-data-section {
    flex-direction: column;
  }
}
