.tag-btn {
  color: var(--text-lines);
  padding: 10px 20px;
  min-width: 150px;
  border-radius: 3.5px;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  letter-spacing: 0.5px;
  background: linear-gradient(
    0deg,
    rgba(139, 0, 83, 1) 0%,
    rgba(236, 0, 141, 1) 92%
  );
}
.tag-active {
  color: var(--primary);
  background: var(--text-lines);
}
@media screen and (max-width: 510px) {
  .tag-btn {
    min-width: 100%;
    width: 100%;
    height: 40px;
  }
}
