html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --bg: #121212;
  --bg-dark-gray: #1e1e1e;
  --primary: #ec008d;
  --secondary: #00bdec;
  --text-lines: #ffffff;
  --text-gray: #eeeeee;
}
body {
  background-color: var(--bg);
}
h2 {
  color: var(--text-gray);
  font-size: clamp(20px, 4vw, 25px);
}
h3 {
  font-size: clamp(25px, 4vw, 35px);
  color: var(--text-gray);
  text-align: center;
}
.btn {
  cursor: pointer;
}

.btn:hover {
  filter: brightness(1.1);
}
.btn:active {
  filter: brightness(0.9);
}

aside {
  padding: 20px;
  position: fixed;
  height: auto;
  width: 100%;
  inset: 0px;
  display: grid;
  place-items: center;
  color: aliceblue;
  z-index: 9;
}

aside h2 {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
