.fbt-container {
  width: 100%;
  position: relative;
}
.fbt-tag-swiper {
  background-color: var(--bg-dark-gray);

  width: 100%;
  border-radius: 5px;
  padding: 20px 20px;
}

.fbt-swipe-heading-box {
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  color: #fb76c6;
}

.fbt-swipe-btn-box {
  display: flex;
}

.fbt-tag-all-btn {
  padding: 10px 20px;
  min-width: 150px;
  border-radius: 5px;
  font-weight: bolder;
  letter-spacing: 0.5px;
  border: none;
  color: var(--text-lines);
  background: rgb(0, 87, 108);
  background: linear-gradient(
    0deg,
    rgb(0, 96, 121) 0%,
    rgba(0, 189, 236, 1) 92%
  );
}

@media screen and (max-width: 734px) {
  .fbt-tag-swiper {
    padding: 10px 10px;
  }
}

@media screen and (max-width: 510px) {
  .fbt-tag-all-btn {
    min-width: 100%;
    width: 100%;
    height: 40px;
  }
}
