.fbc-container {
}
.fbc-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}
.fbc-box p {
  font-size: 13px;
  color: var(--text-gray);
}
.fbc-container select {
  padding: 7px;
  color: var(--text-gray);
  width: 85px;
  background-color: var(--bg-dark-gray);
  border: 0.5px solid #add8e624;
  border-radius: 5px;
}
.fbc-container select:focus {
  outline: 1px solid var(--secondary);
}
